//TODO:フォントなど

.taskContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  height: 90%;
  margin: 30px 20px 30px 20px;
  background-color: rgb(120, 120, 120);
  border-radius: 5px;

  .statusWrapper {
    width: 100%;
    padding: 30px 0 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;

    .status {
      font-size: large;
      font-weight: bold;
    }
  }

  .notStarted {
    background-color: rgb(108, 50, 50);
  }
  .inProgress {
    background-color: rgb(53, 134, 85);
  }
  .finished {
    background-color: rgb(78, 112, 171);
  }

  .task {
    list-style: none;
    padding: 15px 50px 10px 50px;
    border-bottom: 1px solid rgb(50, 50, 50);
  }
  .task:hover {
    cursor: pointer;
    background-color: darkgray;
    transition: 0.3s;
  }
}
