.contentWrapper {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  .contentTitle {
    border-bottom: 1px solid black;
    color: rgb(70, 70, 70);
  }
  .id {
    display: none;
  }
  .input {
    height: 30px;
  }
  .textBox {
    height: 75px;
  }
  .submitButton {
    height: 30px;
    background-color: aliceblue;
    color: #121212;
  }
}
