.contentWrapper {
  // animation: fade-in-top 0.5s forwards;
  padding: 0 20px 20px 20px;
  .contentTitle {
    border-bottom: 1px solid black;
    color: rgb(70, 70, 70);
  }
  //   .taskContent {
  //     padding-top: 8px;
  //     font-weight: bold;
  //   }
}
