$layOutHeight: 8vh;

.header {
  height: $layOutHeight;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  .sideBarButtonWrapper {
    min-width: 30px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    .sideBarButton:hover {
      cursor: pointer;
    }
  }
  .titleWrapper {
    align-items: center;
    display: flex;
    padding: 0 10px 0 10px;
  }
  .logOutWrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .logOutButton {
      min-width: 30px;
      padding: 5px 10px 5px 10px;
    }
    .logOutButton:hover {
      cursor: pointer;
    }
  }
}

.mainContent {
  height: 92vh;
}
