.header {
  height: 8vh;
  background-color: rgb(40, 40, 40);
  display: flex;
  .centerWrapper {
    justify-content: center;
    flex: 0.95;
    align-items: center;
    display: flex;
    height: 100%;
  }
  .iconWrapper {
    width: 30px;
    flex: 0.05;
    margin: 0 10px 0 10px;
    .sideBarButton {
      height: 100%;
    }
    .sideBarButton:hover {
      cursor: pointer;
    }
  }
}
