.sideBarItem {
  padding: 19px 20px 19px 20px;
  margin: 0;

  .itemIcon {
    display: flex;
    align-items: center;
  }
}

.sideBarItem:hover {
  background-color: rgb(128, 128, 128, 0.5); //変更する
  transition: all 0.5s;
}

.itemIcon:hover {
  cursor: pointer;
}
